In [2]:
%matplotlib inline
import geopandas
import matplotlib.pyplot as plt
import geopandas as gpd
import pandas as pd
import os

In [3]:
fp2 ="/Users/jiaqitang/Downloads/2009ec/GRED_20190215_Ecuador_2009.shp"
fp1 = "/Users/jiaqitang/Downloads/2014/GRED_20190215_United States_2014.shp"
shp2 = gpd.read_file(fp2)

In [43]:
shp1=gpd.read_file(fp2)

In [4]:
shp2.head()

,ctr_n,ctr,yr,cst_n,cst,geometry
0,Ecuador,218.0,2009.0,Azuay,1.0,"POLYGON ((771554.7302046642 9717026.46728716, ..."
1,Ecuador,218.0,2009.0,Bolivar,2.0,"POLYGON ((710845.4063449111 9872724.995972605,..."
2,Ecuador,218.0,2009.0,Ca¤ar,3.0,"POLYGON ((707167.6936445553 9755342.887253258,..."
3,Ecuador,218.0,2009.0,Carchi,4.0,"POLYGON ((779025.8732741401 10132288.34550602,..."
4,Ecuador,218.0,2009.0,Chimborazo,6.0,"POLYGON ((748017.1344303768 9841737.294742867,..."

In [41]:
shp2['geometry']

0     POLYGON ((771554.7302046642 9717026.46728716, ...
1     POLYGON ((710845.4063449111 9872724.995972605,...
2     POLYGON ((707167.6936445553 9755342.887253258,...
3     POLYGON ((779025.8732741401 10132288.34550602,...
4     POLYGON ((748017.1344303768 9841737.294742867,...
5     POLYGON ((730072.9514228515 9962749.598129701,...
6     (POLYGON ((588280.9682903653 9619790.884291116...
7     (POLYGON ((608050.9786248123 10044089.7180439,...
8     (POLYGON ((-467804.6082173428 9849555.98784876...
9     (POLYGON ((600175.133368087 9678264.179518908,...
10    POLYGON ((783648.3819990102 10096721.93535967,...
11    POLYGON ((672555.3708403474 9631255.046939386,...
12    POLYGON ((676218.2287314804 9939698.845563637,...
13    (POLYGON ((491764.7854730263 9860413.113905268...
14    POLYGON ((815503.7006999999 9839785.118100001,...
15    POLYGON ((854097.6512088766 10003718.88207969,...
16    POLYGON ((917429.7289999984 9993361.722200003,...
17    POLYGON ((938198.3218734022 9888677.771933539,...
18    POLYGON ((697711.2242781036 10035507.75042518,...
19    (POLYGON ((528870.3231045054 9786095.139656508...
20    POLYGON ((691023.4734593667 10001805.61710989,...
21    POLYGON ((890934.6243375456 10072994.37564823,...
22    POLYGON ((790785.5783532234 9888452.212908654,...
23    POLYGON ((728550.2580479616 9630319.103265051,...
Name: geometry, dtype: object

In [8]:
type(shp2['geometry'][0])

shapely.geometry.polygon.Polygon

In [68]:
col_Names=["lat", "long", "gdpp"]
gdpcsv=pd.read_csv('/Users/jiaqitang/Downloads/gdp_ppp_5_2010.csv',names=col_Names)

In [ ]:
771554.7302046642 9717026

In [66]:
gdpcsv=gdpcsv.loc[(gdpcsv['lat']<1.2)&(gdpcsv['lat']>1)]

In [ ]:
0000000

In [50]:
gdpcsv=gdpcsv.loc[(gdpcsv['lat']>10000000)&(gdpcsv['lat']<12000000)]

In [39]:
gdpcsv=gdpcsv.loc[(gdpcsv['long']<800000)&(gdpcsv['long']>70000)]

In [67]:
gdpcsv

              lat       long gdpp
4605120  1.125000 -179.95833   --
4605121  1.125000 -179.87500   --
4605122  1.125000 -179.79166   --
4605123  1.125000 -179.70833   --
4605124  1.125000 -179.62500   --
4605125  1.125000 -179.54166   --
4605126  1.125000 -179.45833   --
4605127  1.125000 -179.37500   --
4605128  1.125000 -179.29166   --
4605129  1.125000 -179.20833   --
4605130  1.125000 -179.12500   --
4605131  1.125000 -179.04166   --
4605132  1.125000 -178.95833   --
4605133  1.125000 -178.87500   --
4605134  1.125000 -178.79166   --
4605135  1.125000 -178.70833   --
4605136  1.125000 -178.62500   --
4605137  1.125000 -178.54166   --
4605138  1.125000 -178.45833   --
4605139  1.125000 -178.37500   --
4605140  1.125000 -178.29166   --
4605141  1.125000 -178.20833   --
4605142  1.125000 -178.12500   --
4605143  1.125000 -178.04166   --
4605144  1.125000 -177.95833   --
4605145  1.125000 -177.87500   --
4605146  1.125000 -177.79166   --
4605147  1.125000 -177.70833   --
4605148  1.125000 -177.62500   --
4605149  1.125000 -177.54166   --
...           ...        ...  ...
4613730  1.041664  177.54167   --
4613731  1.041664  177.62498   --
4613732  1.041664  177.70833   --
4613733  1.041664  177.79167   --
4613734  1.041664  177.87498   --
4613735  1.041664  177.95833   --
4613736  1.041664  178.04167   --
4613737  1.041664  178.12498   --
4613738  1.041664  178.20833   --
4613739  1.041664  178.29167   --
4613740  1.041664  178.37498   --
4613741  1.041664  178.45833   --
4613742  1.041664  178.54167   --
4613743  1.041664  178.62498   --
4613744  1.041664  178.70833   --
4613745  1.041664  178.79167   --
4613746  1.041664  178.87498   --
4613747  1.041664  178.95833   --
4613748  1.041664  179.04167   --
4613749  1.041664  179.12498   --
4613750  1.041664  179.20833   --
4613751  1.041664  179.29167   --
4613752  1.041664  179.37498   --
4613753  1.041664  179.45833   --
4613754  1.041664  179.54167   --
4613755  1.041664  179.62498   --
4613756  1.041664  179.70833   --
4613757  1.041664  179.79167   --
4613758  1.041664  179.87498   --
4613759  1.041664  179.95833   --

[8640 rows x 3 columns]

In [69]:
gdpcsv=gdpcsv.loc[gdpcsv['gdpp'] !='--']
#gdpcsv['gdpp'] = gdpcsv['gdpp'].astype(float)
#gdpcsv=gdpcsv.loc[gdpcsv['gdpp']>0]
gdpcsv=gdpcsv[gdpcsv['long']!= 'long']
gdpcsv['long']  =gdpcsv['long'] .astype(float)
gdpcsv['lat']  =gdpcsv['lat'] .astype(float)
gdpcsv['gdpp'] = gdpcsv['gdpp'].astype(float)
gdpcsv=gdpcsv.loc[gdpcsv['gdpp']>0]
gdpcsv['long']=gdpcsv['long']*10000
gdpcsv['lat']=gdpcsv['lat']*100000+10000000

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [70]:
gdpcsv.to_csv('/Users/jiaqitang/Downloads/gdp_ppp_5_new5_eu.csv')

In [ ]:
771554.7302046642 9717026

In [22]:
gdpcsv=pd.read_csv('/Users/jiaqitang/Downloads/gdp_ppp_30_2000_new5_b.csv',names=col_Names)

/Users/jiaqitang/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [27]:
gdpcsv.head()

                lat       long         gdpp
559628  792083360.0  157083.28    2405869.5
589876  786250000.0  163750.00  107410696.0
594198  785416700.0  165416.72    2429762.0
598516  784583360.0  163750.00    4678203.0
602830  783750000.0  158750.00    2367358.2